@import "vars";
@import "libs";
@import "fonts";
@font-face {
    font-family: Gilroy-SemiBold;
    src: url(../gilroy-semibold.css);
}

$font_gilroy: 'Gilroy', sans-serif;
$font_inter: 'Inter', sans-serif;
$font_rubic: 'Rubik', sans-serif;

body{
    margin: 0px;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 46.28%) no-repeat;
    z-index: 1;
}
.header-button{
    color:  #F2994A;

}

@media (max-width: 390px) {
    .header-nav {
      gap: 10px;
    }
    .header-nav .header-buttons {
      flex-wrap: wrap;
      justify-content: center;
    }
    .header-nav .header-items .header-links-bg-fixed-mobile {
      padding: 70px 0 0px 30px;
    }
  }
